
.navbar-brand{
  font-weight: 800;
  font-size: 30px;
}
.navbar-toggler{
  color: #e50914;
}
.navbar-brand{
  color: #e50914;
}

.nav-link{
  font-weight: 600;
  color: #e50914;
}

nav.navbar {
  border-bottom: 3px solid red;
}

.section-title{
  border-bottom: 3px solid gainsboro;
}
